ul.posts {
  list-style-type: none;
  padding: 0;
}
ul.posts li .date {
  float: right;
  opacity: 0.5;
  font-family: var(--system-fonts);
  font-weight: 500;
}

@media (max-width: 400px) {
  ul.posts li .date {
    float: none;
    display: block;
  }
}

.hljs {
  padding: 0;
  background: transparent;
}
