ul.posts {
  list-style-type: none;
  padding: 0;
}

.post-date {
  opacity: 0.5;
  font-family: var(--system-fonts);
  font-weight: 600;
}
ul.posts li .post-date {
  float: right;
}
@media (max-width: 400px) {
  ul.posts li .post-date {
    float: none;
    display: block;
  }
}

.hljs {
  padding: 0;
  background: transparent;
}

h1 + .post-date {
  margin-top: -1em;
}
